/* .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
} */


.card {
    height: 100%;
    margin-right: 1rem;
}


li.p-tabmenuitem{
    padding: 20px;
    color: black;

}


span.p-highlight.ng-star-inserted{
   color: black;
}
.container-fluid {
    padding: 0;
}


.p-tabview-nav{
    color: black;
}



span.p-ink{
    height: 113px;
}

.sidebar-color {
    background-color: rgb(2, 2, 29);
}

.nav-link:hover {
    outline-color: rgb(209, 4, 4);
    background-color: rgb(12, 12, 66);
    color: brown;

}

.p-tabview-nav {
    justify-content: center;
}

.p-fileupload-choose {
    width: 50px;
    text-align: center;
}

.card {
    margin: 20px;
}

.p-tabview-nav .p-tabview-title {
    line-height: 1;
    white-space: nowrap;
    color: black;
    margin-right: 20px;
}